@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 27 27 27;
  --secondary-color: 53 53 53;
  --background-color: 253 250 239;
  --foreground-color: 23 23 23;
  --accent-color: 46 184 0;
  --max-page-width: 1460px;
  --border-radius-button: 4px;
  --border-radius-general: 0.5rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  font-size: 18px;
}

body::-webkit-scrollbar {
  display: none;
}

.max-page-width {
  max-width: var(--max-page-width);
  @apply mx-auto;
}

.max-hero-width {
  max-width: calc(var(--max-page-width) + 100px);
  @apply mx-auto;
}


.splide__wrapper {
  @apply flex flex-col gap-12 #{!important};
}

.splide__pagination {
  @apply relative bottom-0 p-0 #{!important};
}

.splide__pagination__page {
  @apply opacity-25 transition-all duration-200 ease-in-out w-2 h-2 rounded-full bg-primary #{!important};
}

.splide__pagination__page.is-active {
  @apply opacity-100 w-2 h-2 scale-100 rounded-full #{!important};
}

.splide-slide-content {
  @apply max-w-screen-md mx-auto;
}

.splide__pagination {
  @apply gap-1 flex #{!important};
}

.splide__pagination li {
  @apply flex h-auto #{!important};
}

.splide__arrow svg {
  fill: transparent !important;
  height: auto !important;
  width: auto !important;
}

.custom__pagination {
  @apply justify-start relative #{!important};

  .splide__pagination__page.is-active {
    @apply bg-background #{!important};
  }

  .splide__pagination__page {
    @apply bg-background/40 opacity-100 #{!important};
  }
}

.splide__progress {
  @apply mx-auto w-full rounded-sm overflow-hidden h-1 bg-background/30 #{!important};
}

.splide__progress__bar {
  @apply bg-background h-1 #{!important};
}

main {
  @apply divide-y;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

section {
  animation: fadeIn 1s;
  animation-fill-mode: both;
}

@for $i from 1 through 50 {
  section:nth-of-type(#{$i}) {
    animation-delay: $i * 0.25s;
  }
}